{% extends 'admin/master_with_menu.twig' %}

{% block main_content %}

        <div class="page-header">
            <h1 class="">/{{ page_name }} <small>/{{ action }}</small></h1>
        </div>


    <form action="{{ siteUrl }}" class="form-horizontal default-form-validation" role="form" method="post">
                <input type="hidden" name="id" value="{{ table.id }}"/>

        

                                                                                                                                                        
                                                                                                                                                    
                                                                                                        </form>

{% endblock %}