<div id="side-menu" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav nav-sidebar" role="navigation">

                <li {% if menu=='dashboard' %}class="active"{% endif %}><a href="/admin/dashboard"><span class="glyphicon glyphicon-home"></span> DASHBOARD</a></li>
                <li {% if menu=='categorias' %}class="active"{% endif %}><a href="/admin/categorias">CATEGORIAS</a></li>
                <li {% if menu=='portfolio' %}class="active"{% endif %}><a href="/admin/portfolio">PORTFOLIO</a></li>
                <li {% if menu=='noticias' %}class="active"{% endif %}><a href="/admin/noticias">NOTÍCIAS</a></li>
                <li {% if menu=='fotos' %}class="active"{% endif %}><a href="/admin/fotos">FOTOS</a></li>

            </ul>
        </div>

    </ul>
</div>