<div id="side-menu" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav nav-sidebar" role="navigation">

                <li class="active"><a href="/admin/dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                    {#ENTITIES#}
                <li><a href="/admin/categorias">Categorias</a></li>

            </ul>
        </div>

    </ul>
</div>