<div id="side-menu" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav nav-sidebar" role="navigation">
                <li ><a href="/admin/dashboard"><span class="glyphicon glyphicon-home"></span> DASHBOARD</a></li>
                             <li {% if menu=='admins' %}class="active"{% endif %}><a href="/admin/admins"><span class="glyphicon"></span> admins</a></li>
                            <li {% if menu=='contato' %}class="active"{% endif %}><a href="/admin/contato"><span class="glyphicon"></span> contato</a></li>
                            <li {% if menu=='estrutura' %}class="active"{% endif %}><a href="/admin/estrutura"><span class="glyphicon"></span> estrutura</a></li>
                            <li {% if menu=='etapas' %}class="active"{% endif %}><a href="/admin/etapas"><span class="glyphicon"></span> etapas</a></li>
                            <li {% if menu=='etapas-estrutura' %}class="active"{% endif %}><a href="/admin/etapas-estrutura"><span class="glyphicon"></span> etapas-estrutura</a></li>
                            <li {% if menu=='etapas-fotos' %}class="active"{% endif %}><a href="/admin/etapas-fotos"><span class="glyphicon"></span> etapas-fotos</a></li>
                            <li {% if menu=='fotos' %}class="active"{% endif %}><a href="/admin/fotos"><span class="glyphicon"></span> fotos</a></li>
                            <li {% if menu=='imprensa' %}class="active"{% endif %}><a href="/admin/imprensa"><span class="glyphicon"></span> imprensa</a></li>
                        </ul>
        </div>

    </ul>
</div>